line
{
	display: block;
	width: 90%;
	height: 5px;
	margin: 5px auto 5px; /*horizontal vertical*/

	background-color: grey;
}

/*Header*/
header
{
	background-color: grey;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

header h1
{
	text-align: center;
	font-size: 2.5em;
}
header h2
{
	text-align: center;
}

#home-link, #contact-link
{
	width: 20%;

	display: flex;
	justify-content: center;
	align-items: center;
}

#home-link a, #contact-link a
{
	font-size: 1.5em;
}

/*Section Project Catalogue*/
section.project-catalogue
{
	margin: 25px auto;
	width: 90%;
}

section.project-catalogue h2
{
	padding-left: 5%;
}

section.project-catalogue ul
{
	list-style-type: none;
	padding-left: 0px;
	width: 100%
	margin: auto;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

section.project-catalogue li
{
	width: 17%;
	margin-left: 5%;
}

section.project-catalogue img
{
	width: 100%;
	height: auto;
}