section.project-catalogue
{
	margin: 25px auto;
	width: 90%;
}

section.project-catalogue h2
{
	padding-left: 5%;
}

section.project-catalogue ul
{
	list-style-type: none;
	padding-left: 0px;
	width: 100%
	margin: auto;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

section.project-catalogue li
{
	width: 20%;
	margin-left: 3%;
}

.img-container
{
	position: relative;
}

.overlay 
{
  position: absolute;
  top: 0;
  bottom: 5px;
  left: 0;
  right: -2px;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000bf;
}

.img-container:hover .overlay
{
	opacity: 1;
}

.hover-content
{
	opacity: 1;
}
.hover-content div
{
	margin-bottom: 8px;
	text-align: center;
}
.hover-content p
{
	font-size: 1.5em;
	color: white;
	margin: 15px 0px;
	text-align: center;
}

section.project-catalogue img
{
	width: 100%;
	height: auto;

	border-color: grey;
	border-style: solid;
	border-width: thin;
}

figcaption
{
	text-align: center;
	font-size: 1.2em;
}