.tag
{
	background-color: yellow;
	border-radius: 100px;
	padding: 2px 8px;
	margin-left: 5px;
	color: black;
}
.tag.red 	{	background-color: #ff3333;	}
.tag.blue 	{	background-color: #3399ff;	}
.tag.dark-blue 	{	background-color: #4d79ff;	}
.tag.steam-blue {	background-color: #0033cc;	}
.tag.green 	{	background-color: #00e600;	}
.tag.dark-green {	background-color: #339933;	}
.tag.orange {	background-color: #ffa64d;	}
.tag.purple {	background-color: #a366ff;	}
.tag.brown 	{	background-color: #b34700;	}
.tag.pink	{	background-color: #ff80df;	}
.tag.cyan	{	background-color: #00ffcc;	}
.tag.yellow	{	background-color: #ffcc00;	}
.tag.grey 	{	background-color: #b3b3b3;	}

.tag.white-text { color: white; }
.tag.no-underline  { text-decoration: none; }

.button.tag
{
	padding: 5px 15px;
	color: white;
}
.button > a
{
	color: white;
}
.button > a:visited
{
	color: white;
}